#auth .content {
    width: 280px;
    left: -140px;
}

#auth .window-title {
    cursor: move;
}

#auth .input {
    width: 274px;
    color: gray;
}

#auth .buttom {
    margin-top: 15px;
    width: 100%;
}
